	body{ 
		
	}

	:root{ /*pseudoclase*/
		scroll-behavior: smooth;
	}

	.contenedor {
    	
    	margin: auto;
    	overflow: hidden;
		padding: 10px 10px;
		}

	p{
		font-family: principal;
		font-size: 22px;
		text-align: justify-all;
		margin: 1.5em;
	}

	.ir-arriba{
		display: inline-block;
		padding: 10px;
		background: #c12d50 ;
		border-radius: 35%;
		font-size: 35px;
		color:#fff ;
		cursor: pointer;
		position: fixed;
		bottom: 10px;
		right: 10px;
	}

	/* *******Header ********/

	.container{
		width: 90%;
		max-width: 1200px;
		overflow: hidden;
		margin: auto;
		padding: 40px 0;
	}

	.header {	
		background: url(../img/main.png);
		width: 100%;
    	height: 650px;
    	background-size: cover;
    	background-attachment: fixed;
    	position: relative; /* relative  o fixed*/
	}

	.header .textos-header{
    	display: flex;
    	height: 550px;
    	width: 100%;
   	 	align-items: center;
    	justify-content: center;
    	text-align: center;
    	flex-direction: column;
	}

	.textos-header h1{
    	font-size: 90px;
   		color:#C70039;
   		font-family: fuente1;

	}

	.textos-header h2{
    	font-size: 35px;
    	font-weight: 300px;
    	color:#C70039;
    	font-family: fuente2;
    	
	}

	.titulo {
		font-size: 60px;
    	color:#C70039;
    	font-family: fuente3;
   		text-align: center; 
   		margin-top: 10px;   
	}

	.onda{
    	position: absolute;
    	bottom: 0;
    	width: 100%;
    	height: 180px
	}


	/* *******Menu Principal ********/

	 .navbar-nav a{
		color:#d91233;
		font-family: fuente6;
		font-size: 45px;
		padding: 	10px;
		
	}
	.navbar-nav a:hover{
		color:#D88E82;
		text-decoration: underline;
	}
	.navbar-nav a img{
		display: block;
	}
	.navbar-nav{
		width: 100%;
		justify-content: center;
		align-items: center;
		background-color:  rgba(247, 247, 247, 0.7) !important;
		padding: 10px 0;
		min-width: 50px
	}


	.navbar{
		padding: 0;
		margin-left: -20px;


	}

	.logo{
		width: 120px;
		height:120px;
	}

	.logo-resp{
		width: 0;
		height: 0;
	}


	/* *******¿Quiénes somos? ********/

	#nosotras{
		padding-bottom: 20px;
	}
	.soy p{
		width: 70%;
        padding-left: 20%;
        text-align: center;  
         
	}
	.yo2 img{
	 	float: right;
	 	width: 430px; 
	}
	.yo img{
	 	float: left; 
	 	width: 360px;  
	}
	
	/* *******Nuestros Productos ********/

	.cont-postres p{
		width: 70%;
		text-align: center;
		padding-left: 20%;
		
	}
	.varios-postres{
		display: inline-block;
	    float: none!important;
	    vertical-align: top;

	}
	.cont-postres{
		text-align: center;
	}

	.varios-postres h4{
		display: block;
	    font-weight: bold;
	    text-align: center;
	    margin-left: 3rem;
	    font-family: fuente7;
	    color:#E96579;
	    margin-top: 15%;
	    justify-content: space-evenly;
	    flex-wrap: wrap;
	}

	.postre1 img{
	    margin: 0 auto;
	    width: 150px;
	    height: 150px;
	    margin-left: 3rem;
	    border-radius: 85%;
	    overflow:hidden;
	}

	.postre1 img:hover{
		box-shadow: 0px 0px 7px 7px #D2B4DE;
		transform:scale(1.3);
	}

	.container-gal{
		width: 85%;
		max-width: 850px;
		margin: 0 auto;

	}
	.carousel-control-next-icon{
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ec0a16 ' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e") !important;

	}

	.carousel-control-prev-icon{
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ec0a16 ' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e")!important;
	}

	/* *******Cotizaciòn ********/

	#cotiza{
		margin-top: 20px;
	}
	.cotiza p{
		text-align: center;

	}
	.background{
		background:#f9757c ;
		padding-bottom: 10px;
		margin-bottom: 50px;
		
	}
	.Form-Cotiza{
		width: 50%;
		margin-left: 25%;
		padding: 15px;		
	}

	.form-group{
		margin-top: 20px;
	}
	.Form-Cotiza label{
		font-family: principal;
		font-size: 18px;
		padding-bottom: 5px;
		color: #fff;
	}

	.custom-file-input ~ .custom-file-label::after {
    content: "Elegir";

	}

  	.custom-file label{
  		color: #6c6969;
  		font-size: 15px;
  	}
	.btn-lg{
    	font-family: fuente7;
		font-size: 19px;
		margin-top: 20px;
	}

	/* *******Opiniones ********/

	.row{
		width: 95%;
		margin-top: 20px;
		margin-bottom: 50px;
		margin-left: 50px;
		justify-content: space-evenly;

	}
	.col-xs-8{
    	background:#F5909F ;
	    width: 180px;
	    height: 270px;
	    align-items: center; 
	    border-radius: 5px;
	    padding-top: 20px ;
	    margin-right: -10px; 
	    box-shadow:20px 20px 35px 10px pink; 
	    z-index: 0;    	    
	}

	.card-img-top{
	    width: 100px;
	    height: 100px;
	    object-fit: cover;
	    border: 2px solid #ED1535;
	    border-radius: 50%;
	    display: block;
	    margin-left: auto; 
		margin-right: auto;

	}
	
	.contenido-texto-card p{
		 font-size: 15px;
		 color: #8A0829;
		 font-family: principal;
		 border-top: 1px solid    #ea5d82 ;
		 border-bottom: 1px solid    #ea5d82 ;
	}
	
	.contenido-texto-card h4{
		color: #DF013A;
	 	font-family: fuente7;
	 	font-size: 20px;
	 	flex-wrap: wrap;
	 	text-align: center;
	 	padding-top: 15px;
	}

	/* *******Contacto ********/

	.cont-contacto p{
		text-align: center;
		margin: 1em;
	}
	.contactame ul{
		list-style: none;
		align-items: center;
		padding-left: 0px;
	}
	.contactame{
		text-align: justify-all;
	}

	.contactame .contac-icons{
		width: 50px;
		display: inline-block;
		padding: 10px;
		font-size: 30px;
		color: #e08ca2;
		margin: 0;	
	}
	.col .align-items-center{
		padding-top: 20px;
	}
	.p-3 {
    	padding: 0;
    	margin-bottom: 20px;
	}
	
    .contactame p{
    	margin-left: 15px;
    	display: inline-flex;
    	font-size: 20px; 
    	margin: 0;
	}
	

	.ubicacion iframe{
		width: 480px; 
		height: 400px;
		text-align: center;
	}
	.row .gx-5 { 
    	margin-left: 0;
    
	}

	/* *******Footer ********/

	.footer{
	    background: #F28999  ;
	    padding: 20px 0 30px 0;
	    margin: auto; 
	}
	.contenedor-footer{  
	    width: 90%;
	    margin: auto;
	    padding-bottom: 50px;  
	}
	.contenedor-footer{
	    text-align: center;
	    padding: 20px 30px;
	}
	
	.contenedor-footer img:hover{
		filter: drop-shadow(5px 3px 5px #fff);
	}
	.content-logo img:hover{
		filter: drop-shadow(5px 3px 5px #fff);
	}
	.footer-iconos {
		width: 35px;
		margin: 10px 20px;
	}
	.contenedor-footer h4{
	    text-align: center;
	    color: #fff;
	    margin-bottom: 10px;
	    font-family: fuente4;
	    font-size: 40px;
	}
	.contenedor-footer h4:hover{
		text-decoration: underline;	
	}
	.logo2{
		width:135px;
		height:140px;
	}
	.content-logo{
		text-align: center;
		padding: 10px 0;
	}
	.copy .copys{
	    background-color: #EC4646;
	    text-align: center;
	    margin: 20px 0 0 0;
	    color: #fff;
	    font-family: mresponsive;
		font-size: 22px;
		padding: 15px;		
	}

	.divide img{
		width: 210px;
		display: block;
    	margin: auto;
	}
	.divide2 img{
		width: 210px;
    	display: block;
    	margin: auto;
	}

	

/* *******Fuentes ********/

@font-face{
	font-family: fuente1;
	src:url(Che.otf);
	}

	@font-face{
	font-family: fuente2;
	src:url(s.ttf);
	}
	@font-face{
	font-family: fuente3;
	src:url(Fu.ttf);
	}
	@font-face{
	font-family: fuente4;
	src:url(Love.ttf);
	}

	@font-face{
	font-family: fuente5;
	src:url(KG.ttf);
	}
	@font-face{
	font-family: fuente6;
	src:url(Donkey.otf);
	}
	@font-face{
	font-family: principal;
	src:url(Principal.ttf);
	}
	@font-face{
	font-family: fuente7;
	src:url(One.ttf);
	}
	@font-face{
	font-family: mresponsive;
	src:url(Mf.otf);
	}



/* *******Media Querys 900px********/

	@media screen and (max-width:991px){
.navbar{
		background-color:  rgba(247, 247, 247, 0.82) !important;
	}
	.navbar-light .navbar-nav a{
		font-family: mresponsive;
		font-size: 25px;
			
	}
	.navbar-toggler{
		margin-right: 15px;
		padding: .25rem .50rem;
	}
	.logo{
		width: 0;
		height:0;
	}
	.logo-resp{
		width: 180px;
		height: 60px;
		margin: 10px 50px;

	}
	.ir-arriba{
		font-size: 25px;	
	}

}






/* *******Media Querys 768px - 991px********/

@media (min-width: 768px) and (max-width: 991px) {
	
	.yo2 img{
	 	width: 210px; 
	}

	.yo img{
		 width: 190px;  
	}
	.contactame{
	margin-bottom: 20px;	
	}

	.ubicacion{	
		text-align: center;
	}
	.col .align-items-center .ubicacion{
		text-align: center;
	}
}




/* *******Media Querys min 576px max-767.98px********/

@media (min-width: 576px) and (max-width: 767.98px) { 
		
	.col-xs-8{ 
	    margin-top: 30px;
	    padding-top: 20px ;
	}

	.yo2 img{
	 	width: 200px; 
	}

	.yo img{
		 width: 170px;  
	}
	
	.ubicacion{	
		text-align: center;
	}
	.row-gx-5 { 
    	margin-left: 0;
    
	}
	.ubicacion iframe{
		width: 480px; 
		height: 250px;	
	}	
}



/* *******Media Querys 400-575px********/

@media screen and (min-width: 400px)and (max-width: 575.98px){

	
	.textos-header{
		padding-right: 10px;
	}
	.divide img{
		width: 140px;
	}
	.titulo{
		font-size: 50px;
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.yo2 img{
	 	width: 100px; 
	}

	.yo img{
		 width: 100px;  
	}
	.postre1 img {
    	margin-left: 0;
    }
    .varios-postres h4 {
    	margin-left: 0;
	}
	.varios-postres{
		padding-right: 10px;
	}
	.btn-lg{
		font-size: 15px;
		margin-left: -30px;

	}
	.row{
		width: 95%;
		margin-top: 20px;
		margin-bottom: 50px;
		margin-left: 50px;	
	}
	
	.col-xs-8{
	    width: 300px;
	    height: 250px;
	    margin-top: 30px;
	    margin-right: 50px; 
	    box-shadow:20px 20px 35px 10px pink;   
	    margin-left: -30px;     	    
	}

	.contenido-texto-card p{
		 font-size: 16px;	
	}
	p{
		margin: 1em;
	}
	.contactame p{
	    font-size: 18px;   
	}
	.ubicacion iframe{
		width: 45c0px; 
		height: 250px;	
	}
	.p-4 {
    	padding: 0;
	}
	.contenedor-footer {
    	padding: 0;
	}
	.copy .copys {
    	font-size: 18px;
    }
    .logo2 {
		width: 95px;
		height: 95px;
	}
}


/* *******Media Querys 300********/

@media screen and (min-width: 300px)and (max-width: 399px){

	
	.logo-resp{
		width: 160px;
		height: 50px;
		margin: 10px 30px;
	}
	.header {
    	height: 530px;
    }
		
	.textos-header h1{
    	font-size: 65px;
    	padding-top: 500px 	
	}
	.textos-header h2{
	    font-size: 35px;
	   	margin-top: 5px;
		padding-bottom: 570px;
		padding-top: 10px;
		padding-left: 0px;
	}
	.onda{
		height: 70px;
	}
	.titulo{
		font-size: 55px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.divide img{
		width: 140px;
	}
	.yo2 img{
	 	width: 100px; 
	}

	.yo img{
		 width: 95px;  
	}
	.btn-lg{
		font-size: 15px;
		margin-left: -30px;

	}
	.row{
		width: 95%;
		margin-top: 20px;
		margin-bottom: 50px;
		margin-left: 50px;	
	}
	
	.col-xs-8{
	    width: 380px;
	    height: 250px;
	    margin-top: 30px;
	    margin-right: 50px; 
	    box-shadow:20px 20px 35px 10px pink;   
	    margin-left: -30px;     	    
	}

	.contenido-texto-card p{
		 font-size: 14px;	
	}
	.contenido-texto-card h4 {	
    	font-size: 18px;
    }
	p{
		margin: 1em;
	}
	.contactame .contac-icons{
		width: 40px;
		padding: 5px;
		font-size: 25px;
	}
	.contactame p{
	    font-size: 17px;   
	}
	.ubicacion iframe{
		width: 280px; 
		height: 200px;
				
	}
	.copy .copys {
    	font-size: 18px;
    }
    .logo2 {
		width: 95px;
		height: 95px;
	}
	.contenedor-footer h4{
		font-size: 30px;
	}
	.contenedor-footer {
    padding: 0 30px;
	}
}